
@keyframes move-left-right {
    0% {
        transform: translateX(50%); 
    }
    25% {
        transform: translateX(0); 
    }
    50% {
        transform: translateX(-50%); 
    }
    75% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(50%); 
    }
}

@keyframes move-right-left {
    0% {
        transform: translateX(-50%); 
    }
    25% {
        transform: translateX(0); 
    }
    50% {
        transform: translateX(50%); 
    }
    75% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-50%); 
    }
}


.card-container, .card-container-nonveg, .card-container-veg {
    display: flex;
    flex-wrap: nowrap; 
    overflow: hidden; 
    width: 100%;
}

.card-container {
    animation: move-left-right 60s linear infinite;
}

.card-container-veg {
    animation: move-right-left 60s linear infinite;
}

.card-container-nonveg {
    animation: move-left-right 60s linear infinite;
}


.card-item {
    flex-shrink: 0;
    width: 20%; 
    display: flex;
    justify-content: center;
  
}


.card {
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    
}


.card-img-left {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
}


.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px; 
    text-align: left; 
}


.card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    word-wrap: break-word;
}
